.div1{
    height:300px;
    width: 100%;
    background-color: red
}
.div2{
    height:300px;
    width: 100%;
    background-color: green
}
.div3{
    height:300px;
    width: 100%;
    background-color: blue
}